In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time

In [2]:
#def browservisit_soup(url):
browser.visit(url)
html = browser.html
    soup = bs(html, 'html.parser')

IndentationError: unexpected indent (<ipython-input-2-01e02ceac470>, line 2)

In [114]:

#Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
#create urlm response and soup
url = "https://mars.nasa.gov/news/"

In [4]:
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 85.0.4183
[WDM] - Get LATEST driver version for 85.0.4183
[WDM] - Driver [/Users/coreynielsen/.wdm/drivers/chromedriver/mac64/85.0.4183.87/chromedriver] found in cache

[WDM] - Current google-chrome version is 85.0.4183
[WDM] - Get LATEST driver version for 85.0.4183
[WDM] - Driver [/Users/coreynielsen/.wdm/drivers/chromedriver/mac64/85.0.4183.87/chromedriver] found in cache

In [116]:
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [117]:

    # Retrieve all elements that contain book information
slides=soup.select_one('ul.item_list li.slide')
slides

<li class="slide"><div class="image_and_description_container"><a href="/news/8749/nasa-readies-perseverance-mars-rovers-earthly-twin/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="Engineers test drive Perseverance Mars rover's twin." src="/system/news_items/list_view_images/8749_PIA23964-320.jpg"/></div><div class="bottom_gradient"><div><h3>NASA Readies Perseverance Mars Rover's Earthly Twin </h3></div></div></a><div class="list_text"><div class="list_date">September  4, 2020</div><div class="content_title"><a href="/news/8749/nasa-readies-perseverance-mars-rovers-earthly-twin/" target="_self">NASA Readies Perseverance Mars Rover's Earthly Twin </a></div><div class="article_teaser_body">Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.</div></div></div></li>

In [118]:
article_title = slides.find('div', class_='content_title').a.text
article_title

"NASA Readies Perseverance Mars Rover's Earthly Twin "

None

In [108]:
#extract paragraphs
# Assign the text to variables that you can reference later.
article_p = slides.find('div', class_='article_teaser_body').text
article_p

"Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape."

In [5]:
image_url ='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(image_url)

In [6]:
browser.links.find_by_partial_text('FULL IMAGE').click()

In [7]:
browser.links.find_by_partial_text('more info').click()

In [8]:
html = browser.html
    # Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [9]:
#slides=soup.select_one('ul.item_list li.slide')
#slides

feat_img = soup.find('figure', class_='lede').a['href']
feat_img
featured_image_url ='https://www.jpl.nasa.gov' + feat_img
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17200_hires.jpg'

In [73]:
#read html via pandas
#Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
#Use Pandas to convert the data to a HTML table string.
mars_facts_url = ('https://space-facts.com/mars/')
marsfacts=pd.read_html(mars_facts_url)[0]

In [74]:
marsfacts.columns=['description', 'data']
marsfacts.set_index('description', inplace =True)

                                               data
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [75]:
marsfacts.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>data</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [48]:

hemispheres_url =('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')

In [49]:
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [50]:
browser.visit(hemispheres_url)

In [55]:

hems_class=browser.find_by_css('.description')

len (hems_class)

4

In [64]:
hems_url=[]
for hems in range(len(hems_class)):
    hemispheres_info={}
    hems_titles=browser.find_by_tag('h3')[hems].text
    browser.find_by_tag('h3')[hems].click()
    hems_img=browser.find_by_text('Sample').first['href']
    hemispheres_info['title']=hems_titles
    hemispheres_info['image']=hems_img
    hems_url.append(hemispheres_info)
    browser.back()
    #time.sleep(5)

In [76]:
browser.quit()

None